body {
  font-family: "Bangers", cursive;
}

.group-section {
  width: 80%;
  margin: 0 auto 5rem;
  outline: thick solid #1e81b0;
  background-color: lightgray;
  padding: 20px;
}

.group-section h4 {
  color: red;
  font-family: "Bangers", cursive;
}

.group-section div {
  border-top: 1px solid #1e81b0;
  margin-top: 0.3rem;
}

.group-section .errors-div {
  border: none;
  height: 1rem;
}

.errors-div {
  display: flex;
}

.group-section button {
  background-color: #f2cb05;
  box-shadow: 3px 3px black;
  color: black;
  font-size: large;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-family: "Bangers", cursive;
}

.group-section input,
.group-section select,
.group-section textarea {
  border: 2px solid #1e81b0;
  background-color: #fdfd96;
  box-sizing: border-box;
  padding: 0.25rem;
}

#group-city,
#group-name,
#group-about,
#group-imageUrl {
  width: 20rem;
}

#group-error-city,
#group-error-state {
  display: flex;
}

#comma-span {
  margin: 0 0.5rem 0 0.25rem;
}

.placeholder-select {
  color: lightgray;
}

.errors {
  color: red;
}
span.errors {
  font-family: "Bangers", cursive;
  color: red;
}
