.sign-up-form-container h1 {
  text-align: center;
  font-family: "Bangers", cursive; /* Comic book font for heading */
  color: #ff6161; /* Bright red for the heading */
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.sign-up-form input {
  width: 100%;
  padding: 3px 5px;
  margin: 5px auto;
  border: 2px solid #1e81b0; /* Bright blue border */
  background-color: #fdfd96; /* Bright yellow background */
  box-sizing: border-box;
  font-family: "Bangers", cursive; /* Comic book font for inputs */
}

.error {
  color: #ff6161; /* Bright red for errors */
  font-family: "Bangers", cursive; /* Comic book font */
  margin: 5px 0;
  text-align: center;
}
.pop-up-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* Adds space between each label */
  font-family: "Bangers", cursive; /* Comic book font */
  color: #1e81b0; /* Bright blue for label text */
}

.pop-up-input {
  padding: 8px;
  border-radius: 5px; /* Rounded corners for input fields */
  border: 2px solid #ff6161; /* Bright red border for inputs */
}

.pop-up-submit-button {
  background-color: #f2cb05; /* Bold yellow for submit button */
  color: black;
  padding: 10px 15px;
  border-radius: 5px; /* Rounded corners for button */
  box-shadow: 3px 3px black; /* Adds a slight shadow */
  cursor: pointer; /* Cursor changes to pointer to indicate clickable */
  font-family: "Bangers", cursive; /* Comic book font for button */
  margin-top: 20px; /* Extra space above the submit button */
}
.pop-up-submit-button:disabled {
  background-color: red; /* Red color when the button is disabled */
  color: lightgray;
}
