#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: #fdfd96;
  border: 3px solid #ff6161;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
