.group-list-item-lowest-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.group-list-item p {
  max-height: 100px; /* Adjust as needed */
  overflow-y: auto;
}

.group-events-type-container {
  display: flex;
}

.group-management-btns-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 1rem;
}

.group-management-btns-container button {
  color: white;
  background-color: #1e81b0;
  box-shadow: 3px 3px black;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  display: flex;
  font-family: "Bangers", cursive;
}

#un-join-btn {
  color: white;
  background-color: red;
  box-shadow: 3px 3px black;
  cursor: pointer;
  font-family: "Bangers", cursive;
}
