.event-card-img {
  min-width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: #fdfd96;
  border: 2px solid #1e81b0;
  border-radius: 15px;
}

.events-list-image {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 15px;
}
