.not-found {
  margin: 5rem auto;
  text-align: center;
  font-family: "Bangers", cursive; /* Consistent comic book font */
  color: #1e81b0; /* Bright blue for text */
}

.not-found h1 {
  font-size: 3rem; /* Larger size for the main heading */
  color: #ff6161; /* Bright red for emphasis */
}

.not-found h2 {
  color: #f2cb05; /* Bold yellow for secondary heading */
}

.not-found p {
  font-size: 1.2rem; /* Slightly larger font for readability */
}
