/*
.event-form {
  width: 50%;
  margin: 0 auto;
}

.event-form div {
  border-top: 1px solid #1e81b0;
  margin-top: 1rem;
}

.event-form input,
.event-form select,
.event-form textarea {
  border: 2px solid #1e81b0;
  background-color: #fdfd96;
  box-sizing: border-box;
  padding: 0.25rem;
}

.event-form p {
  margin: 0.5rem 0;
  font-family: "Bangers", cursive;
}

.event-form .errors {
  margin: 0;
  color: #ff6161;
}

.event-form button {
  background-color: #f2cb05;
  box-shadow: 3px 3px black;
  color: black;
  font-size: large;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
  font-family: "Bangers", cursive;
}

#event-top-div {
  border: none;
}

#event-input-name,
#event-input-imageUrl,
#event-input-description {
  width: 30rem;
}

#event-div-price,
#event-input-capacity {
  border: 2px solid #1e81b0;
  background-color: #fdfd96;
  width: fit-content;
  padding-left: 5px;
  margin: 0;
}

#event-input-price {
  border: none;
  width: 75px;
  background-color: transparent;
}

#event-input-price:focus {
  outline: none;
}
