/*
.events-list-page {
  margin: auto;
  width: 60%;
}

.page-links {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.page-links .active {
  color: #ff6161;
  text-decoration: underline;
  pointer-events: none;
  font-family: "Bangers", cursive;
}

.page-links a {
  font-size: x-large;
  padding-right: 1.5rem;
  color: #1e81b0;
  font-family: "Bangers", cursive;
}

.events-list {
  padding-left: 0;
}

.events-list li {
  border-top: 2px solid #f2cb05;
  padding: 1rem 0;
  background-color: #fdfd96;
}

.events-list-item {
  display: flex;
}

.events-list-image {
  max-width: 300px;
  max-height: 300px;
}

.events-list-info {
  margin-left: 1.5rem;
}

.events-list-info h2,
.events-list-info h3,
.events-list-info h4 {
  margin: 0;
  color: #ff6161;
  font-family: "Bangers", cursive;
}
