.campaigns-list-page {
  margin: auto;
  width: 60%;
}

.page-links {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.page-links .active {
  color: red;
  text-decoration: underline;
  pointer-events: none;
  font-family: "Bangers", cursive;
}

.page-links a {
  font-size: x-large;
  padding-right: 1.5rem;
  color: #1e81b0;
  font-family: "Bangers", cursive;
}

.campaigns-list {
  padding-left: 0;
}

.campaigns-list li {
  border-top: 2px solid #f2cb05;
  padding: 1rem 0;
  background-color: #fdfd96;
}

.campaigns-list-item {
  display: flex;
}

.campaigns-list-image-div {
  min-width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  background-color: red;
}

.campaigns-list-image {
  max-width: 300px;
  max-height: 200px;
  object-fit: contain;
}

.campaigns-list {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  width: 455px;
  flex-grow: 1;
  max-height: 200px;
}

.campaigns-list h2 {
  margin: 0;
  font-family: "Bangers", cursive;
}

.campaigns-list h4 {
  color: red;
  margin: 0.5rem 0;
}

.campaigns-list span {
  font-size: large;
  padding-right: 1.5rem;
  color: red;
  font-family: "Bangers", cursive;
}

p {
  font-size: large;
  padding-right: 1.5rem;
  color: #1e81b0;
  font-family: "Bangers", cursive;
}
