* {
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1e81b0; /* Bright blue border */
  font-family: "Bangers", cursive; /* Comic book font */
}

.nav-bar-user-links,
.nav-bar-no-user {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.nav-bar-user-links {
  width: 250px;
}

.nav-bar-no-user {
  width: 200px;
}

.nav-bar-no-user button,
.link,
.profile-button {
  border: none;
  background: transparent;
  font-size: large;
  cursor: pointer;
  color: red; /* Bright red for emphasis */
  text-decoration: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#logo {
  width: 100px;
}

.link {
  align-self: center;
  font-size: large;
}

i.fas.fa-user-circle {
  font-size: 40px;
  border: none;
  color: red;
  background-color: none;
}

.profile-container {
  display: flex;
  align-items: center;
}

.fa-chevron-down,
.fa-chevron-up {
  color: #f2cb05; /* Bold yellow for icons */
  font-size: 20px;
  padding-left: 5px;
  margin-right: 10px;
}

.user-dropdown {
  border: 1px solid #1e81b0; /* Bright blue border */
  background-color: #fdfd96; /* Bright yellow background */
  position: relative;
  top: 35px;
}

.user-dropdown > li {
  margin: 5px 10px;
}

.user-dropdown-yours,
.user-dropdown-links,
#logout-li {
  border-top: 1px solid lightgray;
  color: red;
}

.user-dropdown a {
}

#logout-li {
  padding-top: 5px;
  cursor: pointer;
  color: red;
}

#user-profile-ul {
  position: absolute;
  right: 1rem;
}
