/* General Reset */
* {
  box-sizing: border-box;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #1e81b0;
}
.campaigns-page section {
  padding-bottom: 10px;
}

/* Main Page Layout */
.campaign-detail-page {
  font-family: "Bangers", cursive;
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  background-color: lightgrey; /* Or any other light color that matches the comic theme */
  border-radius: 10px;
  border: 3px solid black;
}

/* Navigation */
.back-to-campaigns {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  display: block;
}

/* Campaign Card Heading */
.campaign-card-heading {
  text-align: left;
  padding: 1rem;
  background-color: lightgray; /* Yellow background */
  margin-bottom: 2rem;
}

/* Management Buttons */
.campaign-management-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Spacing between buttons */
}

.update-event-button,
.delete-event-button {
  background-color: #ff6161; /* Red color for action buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 3px 3px 0 #000;
}

/* Top Card */
.top-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Campaign Image */
.campaign-image-div {
  flex: 1;
  padding: 10px;
  background-color: lightgray;
  /* box-shadow: 1px 1px 0 #000; */
}

.campaign-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

/* Faction Info */
.faction-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 10px;
  margin-left: 20px; /* Spacing between image and faction info */
}

/* Faction Details */
.faction-name {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #fdfd96;
  margin-bottom: 10px;
  border-radius: 10px;
}
.faction-deets {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will vertically center the text inside faction-deets */
  /* Add padding or margin as necessary */
  padding-left: 20px; /* Add padding to the left of the text */
  /* If you want more control over the space between h3 and p, you can add margin to them individually */
}

.faction-image {
  width: 100px; /* Adjust as necessary */
  height: auto;
  display: block;
  margin-bottom: 10px;
  object-fit: contain;
  border: 1px solid black;
  border-radius: 10px;
}

/* Campaign Stats */
.campaign-stats {
  display: flex;
  flex-direction: column;
  background-color: #fdfd96; /* Yellow background */
  padding: 10px;
  border-radius: 10px;
}

.campaign-date,
.campaign-price,
.campaign-type {
  display: flex;
  align-items: center; /* Center align the icon and text vertically */
  margin-bottom: 10px;
  justify-content: space-between;
}
.start-end-times {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* Icons should be added with proper classes or styles */

/* Campaign Details */
.campaign-details {
  padding: 1rem;
  background-color: lightgray; /* Yellow background */
  margin-top: 2rem;
}
