
/*
#back-to-events {
  color: #1e81b0;
  text-decoration: underline;
  padding-left: 5px;
}

.event-heading {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
  font-family: "Bangers", cursive;
}

h4 {
  color: #ff6161;
  font-weight: 100;
  font-family: "Bangers", cursive;
}

.event-section {
  background-color: #fdfd96;
}

.event-detail {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
}

.event-img {
  max-width: 500px;
  min-width: 500px;
  background-color: white;
  border-radius: 15px;
}

.event-img img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 15px;
}

.event-stats-section {
  margin-left: 1.5rem;
  width: 100%;
}

.event-group-card {
  background-color: white;
  display: flex;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 1rem;
}

.event-group-image img {
  max-width: 200px;
  max-height: 200px;
}

.event-group-info {
  padding-left: 1rem;
}

.event-stats {
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.event-stats > div {
  margin: 0.5rem 0;
}

.event-stats span,
.event-stats i {
  color: grey;
}

.event-stats i {
  font-size: larger;
}

.icon-div {
  width: 1.5rem;
}

.event-stats p {
  color: #2a9d8f;
}

.times,
.event-price,
.event-type {
  display: flex;
  align-items: center;
  width: 100%;
}

.times-headers,
.event-price-stat,
.event-type-stat {
  margin-left: 1rem;
}

.event-details-user-buttons {
  margin-left: auto;
}

.event-type button {
  color: white;
  background-color: #e76f51;
  box-shadow: 3px 3px black;
  margin: 0 0.5rem;
  cursor: pointer;
}

.event-description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
}
